form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    width: 600px;
}

input {
    padding: 5px 20px;
    width: 80%;
    line-height: 16px;
    margin: 10px 0;
}
