<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <title>Scaffold</title>
</head>

<body>
    <div id="container__1">
        <header>
            travel<span class="red">.</span>
        </header>

        <section class="left">
            <img src="../images/bridge.jpg" alt="hero-image">
        </section>
        <form class="form-container">

            <input type="text" name="destination" placeholder="Search your destination">
            <input type="text" name="date" placeholder="Select your date">
            <div class="two-button">
                <button type="submit">Search</button>
                <button class="outlined" type="submit">Saved Trips</button>
            </div>

        </form>
        <section class="right">
            <div id="background-blur">
                <img src="../images/right_3.png" alt="blurred-background">
            </div>
        </section>

        <section id="tagline">
            <h2>Let's plan that journey now...</h2>
        </section>
    </div>
</body>

</html>