<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <title>Scaffold</title>
</head>

<body>
    <div id="container__1">
        <header>
            travel<span class="red">.</span>
        </header>

        <section class="left">
            <img src="../images/tom-barrett-M0AWNxnLaMw-unsplash.jpg" alt="hero-image">
        </section>
        <section class="right">
            <div class="form-container">
                <label class="mdc-text-field mdc-text-field--filled">
                    <span class="mdc-text-field__ripple"></span>
                    <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
                    <span class="mdc-floating-label" id="my-label-id">Hint text</span>
                    <span class="mdc-line-ripple"></span>
                </label>
            </div>
            <div id="background-blur">
                <img src="../images/right_3.png" alt="blurred-background">
            </div>
        </section>

        <section id="tagline">
            <h2>Let's plan that journey now...</h2>
        </section>
    </div>
</body>

</html>