input[type="text"] {
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: $background-color-secondary;
  color: $text-color-secondary      ;
  padding: 1.4rem;
  margin: 2rem;
  width: 25rem;

  &::placeholder{
    color: rgb(197, 193, 193);
  }

  &:focus {
    border: 1px $c-yellow solid;
  }
}

input[type="date"] {
  margin: 2rem;
  border: none;
  outline: none;
  width: 25rem;
  padding: 1.2rem;
  border-radius: 3px;
  color: $text-color-secondary;
  background-color: $background-color-secondary;

  &:focus {
    background-color: $background-color-secondary;
    color: $text-color-secondary
  }
}

button{
  border: none;
  outline: 2px $button-color-primary solid;
  background-color: #EB5757;
  color: white;
  border-radius: 2px;
  padding: 5px;
  margin-top: 2rem;
  max-width: 10rem;

  &.outlined {
    background-color: transparentize($color: #000000, $amount: .8);
    outline: 2px $button-color-primary solid;
  }

  &:hover {
    cursor: pointer;
  }
  
  &:active {
    background-color: lighten($color: #a35555, $amount: .8)
  }
}