//////////////// sass variables //////////////////////////////////
$background-color-primary: #333333;
$background-color-secondary: #4F4F4F;
$text-color-primary: #F2F2F2;
$text-color-secondary: #BDBDBD;
$button-color-primary: #EB5757;
$c-red: #EB5757;
$c-yellow: #F2C94C;
$bg-transparent: rgba(0,0,0,.5);
/////////////////////////////////////////////////////////////////