<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <header>
        <h2>Welcome to sentence objectivity/positivity test</h2>
    </header>

    <main>
        <section>
            <form class="form">
                <input id="name" type="text" name="input" placeholder="Write a sentence...">
                <input id="submit" type="submit" name="submit" value="submit">
            </form>
        </section>

        <section>
            <strong>Form Results:</strong>
            <div id="results">
                <ul id="resultsList"></ul>
            </div>
        </section>
    </main>



</body>

</html>